"@testing-library/jest-dom": "^6.4.8",
"@testing-library/react": "^16.0.0",
"jsdom": "^24.1.1",

@vitejs/plugin-legacy

// "postcss-nested": "^6.2.0",
// "postcss-nested-vars": "^1.0.0",
// "postcss-simple-vars": "^7.0.1",
    "postcss-at-rules-variables": "^0.3.0",
    "postcss-custom-properties": "^13.3.12",
